<div class="add_contact_background" id="edit_contact_background">
    <div class="add_contact_container" id="edit_contact_container">
        <div class="add_contact_left gap_12">
            <img src="../assets/img/join_logo.svg" alt="join logo" class="add_contact_logo">
            <h1 class="edit_contact_title">Edit Contact</h1>
            <div class="blue_line_90x3"></div>
        </div>
        <div class="add_contact_middle">
            <div class="contactIcon">
                <div class="contactCircleBig" id="edit_contact_img"></div>
            </div> 
        </div>
        <div class="add_contact_right">
            <div class="close_overlay">
                <button onclick="closeEditContactDialog(); return false;" id="closeOverlayButton"
                    class="close_overlay_button"><img src="../assets/img/icons/X.svg" alt="Close"></button>
            </div>
            <form onsubmit="saveEditedContact(event); showEditContactSuccessMessage()" onkeyup="enableEditContactButton(); disableEditContactButton();" class="add_contact_form">
                <div class="gap_32 center">
                    <div class="password_container">
                        <input type="text" placeholder="Name" class="input_contact" id="editContactName" name="Name" required>
                        <img src="../assets/img/icons/person.svg" alt="name" class="input_contact_img">
                    </div>
                    <div class="password_container">
                        <input type="email" pattern="^\w+@\w+\.[a-zA-Z]{2,}$" placeholder="Email" class="input_contact" id="editContactEmail" name="Email" required>
                        <img src="../assets/img/icons/mail.svg" alt="Email" class="input_contact_img">
                    </div>
                    <div class="password_container">
                        <input type="tel" pattern="^(0|\+49)[\d\s\-]{7,20}$" placeholder="Phone" class="input_contact" id="editContactPhone" name="Phone" required>
                        <img src="../assets/img/icons/call.svg" alt="Phone" class="input_contact_img">
                    </div>
                </div>
                <div class="add_contact_btns" id="editContactDeleteContactBtns">
                    <button onclick="deleteContactInEditDialog(event)" class="delete_contact_btn">Delete</button>
                    <button type="submit" disabled="false"  class="save_contact_btn" id="saveContactBtn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>