.main_header {
    height: 96px;
    width: calc(100vw - 232px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: fixed;
    left: 232px;
    background-color: white;
  }
  
  .main_header p {
    font-size: 20px;
    padding-left: 116px;
  }
  
  .header_right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 40px;
  }

  .header_right a{
    width: 24px;
    display: flex;
    justify-content: center;
  }
  
  .header_help_icon {
    height: 20px;

    &:hover{
      height: 24px;
    }
  }
  
  .header_user_profile {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 3px solid black;
    color: #2aaae2;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover{
      background-color: #cdcdcd;
    }
  }

  .bg_grey{
    background-color: #cdcdcd;
  }

.header_logo_resp {
  display: none;
}

@media (max-width:1024px) {
.main_header {
  height: 80px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  }

#quick_link_help {
  display: none;
}

.header_user_profile {
    height: 40px;
    width: 40px;
    font-size: 16px;
}

.header_text {
  display: none;
}

.header_logo_resp {
  display: flex;
  height: 39px;
  width: 32px;

}

.header_right {
  padding-right: 0;
}

}