    .main_nav_bar {
    width: 232px;
    height: 100vh;
    background-color: #2b3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 64px 0;
    position: fixed;
  }

  .nav_bar_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .nav_bar_logo {
    width: 100px;
  }
  
  .quick_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 20px;
    margin-top: 116px;
  }
  
  .quick_link_row {
    display: flex;
    align-items: center;
    height: 46px;
    width: 100%;
    gap: 8px;
    padding-left: 60px;
    cursor: pointer;
  
    &:hover {
      background-color: #2a3d59;
    }
  }
  
  .quick_links_icons {
    height: 30px;
  }
  
  .quick_link {
    color: #cdcdcd;
    font-size: 16px;
  }

  .footer_links_logout {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .footer_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2px;
  }
  
  .footer_link {
    color: #a8a8a8 !important;
    font-size: 16px;
    padding-left: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

   .footer_link_logged_out {
    color: #a8a8a8 !important;
    font-size: 16px;
    padding-left: 56px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .footer_link_hover{
    &:hover {
      color: #2aaae2 !important;
      font-weight: 700;
    }
  }
  
  .collumn {
    display: flex;
    flex-direction: column;
  }

  .main_content {
    background-color: #f6f7f8;
    margin-left: 232px;
    margin-top: 96px;
    padding: 64px 96px;
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main_content_summary {
    margin-left: 232px;
    margin-top: 96px;
    padding: 64px 0 0 96px;
    background-color: #f6f7f8;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main_content_board {
    height: 100%;
    background-color: #f6f7f8;
    margin-left: 232px;
    margin-top: 96px;
    padding-left: 64px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }

  .bg_dark_blue{
    background-color: #081931;
    color: white;
    cursor: default;

    &:hover{
      background-color: #081931;
    }
  }

@media (max-width:1439px) {
  .collumn {
    width: 100%;
  }

  .main_content_board {
    padding-right: 64px;
  }

}

@media (max-width:1024px) {
    .footer_link_hover:hover {
      color: #a8a8a8 !important;
      font-weight: 400;
  }

  .quick_link_row:hover {
    background-color: transparent;
  }
    .main_content_board {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 48px;
    margin-left: 0;
    width: 100%;
    margin-bottom: 48px;
  }

.main_nav_bar {
  width: 100vw;
    z-index: 2;
    height: 80px;
    background-color: #2b3647;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 0;
}

.footer_links_logout {
  display: flex;
}

.footer_links {
  display: none;
}

.footer_link {
  padding-left: 0;
}

.nav_bar_logo {
  display: none;
}

.quick_links {
  flex-direction: row;
  margin-top: 0px;
  width: auto;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
  padding-inline: 32px;
}

.quick_link_row {
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  padding-left: 0;
  width: 80px;
  height: 80px;
}

.nav_bar_top {
height: 100%;
}

.quick_link {
  font-size: 14px;
}

.quick_links_icons {
  width: 24px;
  height: 24px;
}

.bg_dark_blue {
  border-radius: 16px;
}

.footer_link {
  height: 80px;
}

.footer_link_logged_out {
  padding: 30px 8px;
  height: fit-content;
}
}


@media (max-width:428px) {
  .quick_links {
  gap: 0;
  padding-inline: 16px;
}
}

@media (max-width:355px) {
  .quick_links {
    padding-inline: 8px;
  }

  .quick_link_row {
    width: 60px;
    height: 60px;
  }

  .quick_links_icons {
    width: 20px;
    height: 20px;
  }

  .quick_link {
    font-size: 12px;
  }
}

@media (max-width:320px) {
  .quick_links {
    padding-inline: 4px;
  }
}