@media (max-width:1024px) {
.header_LogIn_logo {
    width: 64px;
    height: 78px;
    margin: 37px 38px;
}

.signUp_content {
    margin: 32px 16px 32px 16px;
    padding: 32px 32px 32px 32px; 
    width: 396px;
}

.back_to_logIn_btn  {
    left: -166px;
}

.signUp_content h1 {
    font-size: 47px;  
}

.blue_line_150x3 {
    width: 88px;
}

.password_container {
    width: 364px;
}

.input_logIn {
    width: 364px;
    font-size: 21px;
}

#signUpBtn {
    font-size: 16px;
}

.footer_logIn {
    bottom: 20px;
}

@media (max-height: 1000px) {
.header_logIn {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.gap_32 {
    gap: 24px;
}

.main_logIn {
    justify-content: flex-start; 
    height: unset; 
}

.signUp_content {
    padding: 0 0 32px 0;
    margin: 0px 16px 24px 16px;
}

.input_logIn {
    width: 100%;
}

.input_logIn_img {
    right: 14px;
}
}

@media (max-height: 875px) {
.logIn_btns {
    margin: 32px 16px;
}
}

@media (max-height: 840px) {
    .header_LogIn_logo {
        margin-bottom: 16px;
    }
}

@media (max-height: 790px) {
    .header_LogIn_logo {
        margin: 24px;
        width: 54px;
        height: 64px;
    }
     
    .blue_line_150x3 {
        margin-bottom: 16px;
    }

    .signUp_content {
         margin: 0px 8x 8px 8px;
    }

    .gap_32 {
        gap: 16px;
    }
}
}

@media (max-width:767px) {
.logIn_btns {
    flex-direction: column;
    gap: 21px;
    margin-top: 64px;
}
}

@media (max-width:430px) {
.signUp_content {
   width: 354px;
}

.back_to_logIn_btn  {
    left: -140px;
}

.password_container, .input_logIn {
    width: 322px;
}
}

@media (max-width:375px) {
.signUp_content {
   width: 334px;
}

.back_to_logIn_btn  {
    left: -120px;
}

.password_container, .input_logIn {
    width: 302px;
}
}

@media (max-width:350px) {
.signUp_content {
   width: 304px;
}

.back_to_logIn_btn  {
    left: -110px;
}

.password_container, .input_logIn {
    width: 272px;
}
}

