.headSummaryPosition {
    width: 1056px;
    height: 73px;
    margin: 0;
    margin-bottom: 56px;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.h1Summary {
    font-family: 'Inter', sans-serif;
    color: #2A3647;
    padding-bottom: 0px;
    font-size: 61px;
    font-weight: 700;
}

.h2Summary {
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-weight: 400;
    color: #2A3647;
}

.blueLine {
    border-color: #29ABE2;
    border-left-style: solid;
    width: 3px;
    height: 59px;
}

.summary_content {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.summary_cards {
    width: 560px;
    height: 562px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.summary_line {
    width: 560px;
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.summary_card_medium {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 264px;
    color: #2A3647;
    cursor: pointer;

    &:hover {
        background-color: #2A3647;
        color: white;
        height: 184px;
        width: 282px;
    }
}

.summary_card {
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 264px;
}

.summary_card_content_medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.summary_card_large {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 170px;
    width: 560px;
    flex: 1;
    color: #2A3647;
    cursor: pointer;

    &:hover {
        background-color: #2A3647;
        color: white;
        height: 184px;
        width: 576px;
    }
}

.summary_card_content_large {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.greyLine {
    border-color: #D1D1D1;
    border-left-style: solid;
    width: 2px;
    height: 102px;
}

.summary_card_small {
    background-color: #FFFFFF;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 170px;
    cursor: pointer;

    &:hover {
        background-color: #2A3647;
        color: white;
        height: 184px;
        width: 184px;
    }
}

.summary_card_content_small {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 13px;}

.summary_card_icon {
    width: 60px;
    height: 60px;
}

.summary_card_number {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}

.summary_card_title {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

#summary_next_deadline {
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    justify-content: left;
    align-items: start;
    margin-left: -10px;
}

.summary_card_title_large {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;   
    display: flex; 
    margin-top: 13px;
}

.summary_greeting {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 60px;
}

.summary_greeting_text {
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
    margin: 0;
}

.summary_greeting_name {
    font-family: 'Inter', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
    margin: 0;
}